{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Kitaabistan</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type='text/css' href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" type='text/css' href="{% static "css/main.css" %}">
</head>
<body>
    <header>
        <div class="title">
            <h1>Kitaabistan</h1>
        {% if user.is_authenticated %}
        <div class="line">
            <h3><a href="#own">Books I Own&nbsp;</a></h3><h3><a href="#read">Books To Read</a></h3><h3><a href="#buy">Books To Buy</a></h3><h3><a href="#add">Add Books</a></h3>
        </div>
        <br>
        <a href="/logout">Logout</a>
        </div>
    </header>
    <div class="container">
        <div class="row col-md-12">
        <h2><a name="own">Books I Own:</a></h2>
        {% for book in books %}
            {% if book.owned %}
                <ul style="list-style: none;">
                <li>{{ book.title }} by {{book.author}} </li>
                </ul>
                <br>
            {% endif %}
        {% endfor %}
        </div>

        <div class="row col-md-12">
        <h2><a name="read">Books I Want To Read:</a></h2>
        {% for book in books %}
            {% if book.to_read %}
                <ul style="list-style: none">
                <li>{{ book.title }} by {{book.author}} </li>
                <br>
                </ul>
            {% endif %}
        {% endfor %}
        </div>

        <div class="row col-md-12">
        <h2><a name="buy">Books I Want to Buy:</a></h2>
        {% for book in books %}
            {% if not book.owned %}
                <ul style="list-style: none">
                <li>{{ book.title }} by {{book.author}} </li>
                <br>
                </ul>
            {% endif %}
        {% endfor %}
        </div>

        <div class="row col-md-12">
        <h2>Books I Have Read:</h2>
        {% for book in books %}
            {% if not book.to_read %}
                <ul style="list-style: none;">
                <li>{{ book.title }} by {{book.author}} </li>
                <br>
                </ul>
            {% endif %}
        {% endfor %}
        </div>
    <hr/>
    <div class="container">
        <div class="row col-md-12 add" id="add">
        <h2><a name="add">Add Books to Kitaabistan!</a></h2>
        <br>
        <form action='/' method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-group btn-group-lg" aria-label="Left Align" value="Submit">
      <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Add Book</button>
        </form>
        <br>
        </div>
    </div>
    </div>
    {% else %}
        <a href="/register">Register Here</a>
        <br>
        <a href="/login">Login</a>
    {% endif %}


</body>
</html>
