{% extends 'base.html' %}

{% block body %}
    <h1>Kitaabistan</h1>
    <div class="container">
    <h2>Login</h2>
    <br>
    <form id="login_form" method="post">
    {% csrf_token %}
    Username <input type="text" name="username" value="" size="30"/>
    <br>
    <br>
    Password <input type="password" name="password" value="" size="30"/>
    <br>
    <br>
    <input type="submit" value="Login"/>
    </form>
    </div>

    <div id="signinButton">
        <span class='g-signin'
            data-scope="openid email"
            data-clientid = ""
            data-redirecturi= "postmessage"
            data-accesstype = "offline"
            data-cookiepolicy = "single_host_origin"
            data-callback = "signInCallback"
            data-approvalprompt = "force">
        </span>
    </div>
    <div id="result">
    </div>

{% endblock %}
